* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    font: normal 1.2rem system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}

a {
	text-decoration: none;
    color: #0066cc;
    transition: .3s;
}

a:hover {
	text-decoration: none;
    color: rgb(37, 137, 237);
}

h2 {
    margin-top: 15px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

header, 
main,
footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}



/* header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

header h1 {
    font-size: 16pt;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}




/* main */

.bigtitle {
    text-align: center;
    margin: 50px 0;
}

.bigtitle h1 {
    font-size: 32pt;
}

.bigtitle p {
    color: #666;
}



.bodymain {
    overflow: auto;
}



.notice {
    margin-bottom: 50px;
}

.notice > h2 {
    margin-bottom: 15px;
}

.notice > h2 span {
    display: none;
}

.notice article {
    width: 100%;
    background-color: #f1f1f1;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.notice article figure {
    overflow: hidden;
    height: 150px;
}

.notice img {
    width: 115%;
    transition: .5s;
}

.notice article:hover img {
    width: 100%;
}

.notice article p,
.notice article h1 {
    padding-left: 10px;
    padding-right: 10px;
}

.notice article figure + p {
    font-size: 12pt;
    margin-top: 8px;
    color: #666;
}

.notice article h1 {
    font-size: 16pt;
    line-height: 25px;
    margin: 10px 0 8px;
}

.notice h1 a {
    color: #333;
}

.notice article:hover h1 a {
    color: #0066cc;
}

.notice h1 + p {
    text-align: right;
    color: #704b34;
    font-size: 12pt;
}




/* angola-city */

.angola-city {
    background-color: #dbedff;
    padding: 10px 20px 20px;
}

.angola-city li {
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid #95c5f2;
}

.angola-city li h1:first-child {
    display: none;
}

.angola-city li img {
    width: 100%;
}

.angola-city li h1 {
    font-size: 18pt;
}



.small-part .messages li:nth-child(n+3) {
    display: none;
}



footer {
    padding: 30px 0;
    margin-top: 30px;
    border-top: 1px solid #ccc;
}



@media(min-width: 650px) {

    .notice div {
        display: flex;
        flex-wrap: wrap;
        gap: 15px 2%;
    }

    .notice div article {
        width: auto;
        flex: 0 0 49%;
        margin-bottom: 0;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer p:last-child {
        font-size: 12pt;
        color: #666;
    }
}



@media(min-width: 840px) {
    header {
        padding: 20px 0;
    }

    .angola-city ul {
        display: flex;
        flex-wrap: wrap;
        gap: 15px 2%;
    }

    .angola-city li {
        width: auto;
        flex: 0 0 49%;
        margin-bottom: 0;
    }
}



@media(min-width: 940px) {
    .big-part {
        width: 75%;
        float: left;
    }

    .small-part {
        width: 22%;
        float: right;
    }

    .notice div article {
        flex: 0 0 32%;
    }
}



@media(min-width: 1150px) {

    header, 
    main,
    footer {
        width: 1000px;
    }
}