

.error h2 {
    color: #900;
}

.error h2 + p {
    color: red;
    margin-bottom: 10px;
}

.error p:nth-child(3) {
    font-size: 12pt;
    color: #666;
}

.error ul {
    margin-top: 40px;
}

.error li {
    color: #979797;
    margin-bottom: 10px;
}